@import './Basis/colors.scss';
@import './Basis/fonts.scss';

#home-page {
    height: 100vh;
    margin: 0;

    #brand {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: no-wrap;

        .brand-image {
            background-size: contain;
            background-repeat: no-repeat;
        }

        .brand-title {
            width: 100%;
            position: absolute;
            margin: 0 auto;
            text-align: center;
            display: inline-block;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .brand-title h1 {
            font-family: $font-brand;
            font-size:  calc(1em + 8vw);
            font-weight: lighter;
        }

        #unicorn {
            margin-top: 5vh;
            height: 100%;
            width: 100vw;
            max-width: 50%;
            background-image: url('../assets/images/side-unicorn.png');
            background-position: top left;
        }
        
        #rings {
            margin-top: 10%;
            height: 100%;
            width: 60%;
            background-image: url('../assets/images/rings.png');
            background-position: bottom right;
        }
    }

    #contact-footer {
        position: absolute;
        bottom: 5%;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;

        .contact {
            display: flex;
            align-items: center;
            margin: 0 2%;
            text-decoration: none;
            color: $default-black;

            img {
                height: 30px;
                width: auto;
                margin-right: 5%;
            }
        }
    }
}