@import './Basis/colors.scss';
@import './Basis/fonts.scss';

#btn-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px; 
    border: none;
    cursor: pointer;
    background-image: url('../assets/images/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

#side-menu {
    background-color: $innovate-yellow;
    height: 100%;
    width: 350px;
    max-width: 80%;
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0px 0px 10px $default-gray;

    button, a, li {
        font-family: $font-texts;
        text-transform: uppercase;
        text-decoration: none;
        color: $default-black;
    }

    button {
        font-size: 0.9rem;
        color: $default-gray;
    }

    li {
        font-size: 1.5rem;
    }

    .menu-link {
        width: 100%;
    }

    #btn-close-menu {
        border-radius: 0%;
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: start;
    }
}