@import './Basis/colors.scss';
@import './Basis/fonts.scss';

#page-not-found {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    #not-found-unicorn {
        background-image: url('../assets/images/jumping-unicorn.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        width: 100%;
    }

    #not-found-messages {
        display: flex;
        flex-direction: column;
        font-family: $font-texts;
        color: $default-black;
        text-align: center;

        h1 {
            font-family: $font-titles;
        }

        .btn-go-back {
            width: fit-content;
            margin: 0 auto;
            background-color: $innovate-pink;
            color: $default-white;
            text-decoration: none;
        }
    }
}